.book {
  width: 100%;
  padding: 0 5px;
  height: 100%;
  position: relative;
  padding-bottom: 20px;
  .menu {
    width: 100%;
    padding-top: 20px;
    .nav {
      display: flex;
      justify-content: space-between;
      a {
        font-weight: bold;
        font-size: 12px;
        cursor: pointer;
        color: #a8a8a8;
        &.arrow {
          background-image: url(../../assets/img/Arrow.png);
          position: relative;
          background-position: 30px 4px;
          background-size: 20px;
          width: 15%;
          background-repeat: no-repeat;
        }
        &.active {
          color: #eeeeee;
        }
      }
    }
  }
  .block {
    padding-top: 20px;
    position: relative;
    .advice {
      font-weight: bold;
      text-align: left;
      .bold {
        color: rgb(0, 0, 0);
        padding: 10px 0;
      }
      .advice-text {
        color: rgba(255, 255, 255, 0.8);
        display: block;
      }
    }
  }
  .map-loot {
    .list-img{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      img{
        margin: 5px;
        width: 330px;
        height: 330px;
      }
    }
  }
  .map-t {
    .list-img{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      img{
        margin: 5px;
        width: 330px;
        height: 330px;
      }
    }
  }
  .map-f {
    .list-img{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      img{
        margin: 5px;
        width: 330px;
        height: 330px;
      }
    }
  }
}
@media screen and(min-width:900px){
  .book {
    width: 68%;
    .menu {
      .nav {
        a {
          font-size: 18px;
        }
      }
    }
    .block {
      .advice {
        font-weight: bold;
        text-align: left;
        font-size: 18px;
      }
    }
    .map-loot {
      .list-img{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        img{
          margin: 5px;
          width: 400px;
          height: 400px;
        }
      }
    }
    .map-t {
      .list-img{
        img{
          width: 400px;
          height: 400px;
        }
      }
    }
    .map-f {
      .list-img{
        img{
          width: 400px;
          height: 400px;
        }
      }
    }
  }
}