.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 70px;
  background-color: #20232a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  line-height: 2;
  padding: 0 20px;
  .text {
    p {
      font-size: 13px;
    }
  }
  a {
    background-image: url(../../assets/img/tg.png);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    position: relative;
    &.link {
      display: flex;
      flex-direction: column;
      width: 50px;
      position: relative;
      left: 10px;
    }
    span {
      padding-right: 15px;
      font-weight: bold;
      position: absolute;
      color: #000;
      top: 25px;
      right: 0px;
    }
  }
  p {
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    font-weight: bold;
  }
}
