@import 'reset.css';
@import './components/all.scss';
// @import 'fonts.scss';
* {
  font-family: 'Roboto-Bold', Roboto-Bold, sans-serif;
}
body{
  width: 100%;
  // height: 100%;
  background-image: url('../assets/img/bg.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}
.wrapper {
  width: 100%;
  position: relative;
  .content {
    width: 100%;
    position: relative;
    padding-bottom: 50px;
  }
}
@media screen and(min-width:900px){
  .wrapper {
    .content {
      display: flex;
      justify-content: center;
      padding-bottom: 90px;
      min-height: calc(100vh - 70px);
    }
  }
}