@font-face {
    font-family: 'Roboto-Black';
    src: url('./fonts/Roboto-Black.eot');
    src: url('./fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Roboto-Black.woff2') format('woff2'),
         url('./fonts/Roboto-Black.woff') format('woff'),
         url('./fonts/Roboto-Black.ttf') format('truetype'),
         url('./fonts/Roboto-Black.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-BlackItalic';
    src: url('./fonts/Roboto-BlackItalic.eot');
    src: url('./fonts/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Roboto-BlackItalic.woff2') format('woff2'),
         url('./fonts/Roboto-BlackItalic.woff') format('woff'),
         url('./fonts/Roboto-BlackItalic.ttf') format('truetype'),
         url('./fonts/Roboto-BlackItalic.svg#robotoblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('./fonts/Roboto-Bold.eot');
    src: url('./fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Roboto-Bold.woff2') format('woff2'),
         url('./fonts/Roboto-Bold.woff') format('woff'),
         url('./fonts/Roboto-Bold.ttf') format('truetype'),
         url('./fonts/Roboto-Bold.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}



